
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
/* обнулякм все отступы и границы*/

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*меняет подсчет ширины блока более удобно для верстки*/

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
/*убираем линии обводки*/


nav,footer,header,aside{display: block;}
/*делаем эти части блочными*/

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
/*уравнивается поведение шрифтов и раззмеров
в том числе самовольное увеличение шрифта в айфне*/

input,button,textarea{font-family:inherit;}
/*включаем наследование семейства шрифта для тегов form*/

input::-ms-clear{display: none;}
/*убирает крестик а интернет эксплоре*/

button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
/*уирает лишние отступы для кнопок в firefox*/
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul, li{list-style: none;}

/*убмраем стили маркированных списков*/
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*обнуяем все заголовки h*/
/*--------------------*/

body {
	font-family: Helvetica, sans-serif;
	color: black;
}
ul,li{
	display: block;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
/*____ header___*/

.header{
   background: #91919a;
	color: #3232d0;
	padding-top:20px;
	padding-bottom: 20px;
}
.header a{
	color: #fff;
}
.nav {
 	display: flex;
	align-items: center;
}
.menu {
	display: flex;
}

.tel {
	font-size: 17px;
	margin-left: auto;
	letter-spacing: 0.1em;}

.logo{
	margin-right: 40px;
	width: 50px;
	height: 50px;
}
.menu li{
	margin-right: 10px;
}
.menu li a{
	font-size: 20px;
	color: #3232d0;
}
.menu li a:hover {
	border-bottom: 1px solid #3232d0;
}
/*____close header___*/
/*______main________*/
	
.main {
	background: url('../IMG/header-bg-light.jpg') no-repeat center top/cover;
	/*opacity: 0.7;работает на всю страницу - поэтому меняем картинку в фригме
	со свщйством 60% fill*/
	padding-top: 120px;
	padding-bottom: 300px;
	/*position: absolute;*/
}
.h1-main h1{
	font-size: 70px;
	text-align: center;
	color: #211ba2;
	font-weight: 700;
	padding-bottom: 20px;
}

.h1-main p{
	font-size: 30px;
	text-align: center;
	color: #4646a2;
	font-weight: 600;
}
.btn {
	display: block;
	/*размещаем по центру контейнера*/
	position: relative;
	left: 50%;
   transform: translate(-50%, 0);

	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px 47px;
	/*border: 1px solid #ff0000;
	border-radius: 15px;*/
	width: 300px;
	transition: all 0.5s ease;/*плавность анимации при наведении*/
	margin-top: 40px;
	background: red;
	box-shadow: 5px 5px 10px #8a0909;
	font-weight: 500;
	color: white;
}