
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
/* обнулякм все отступы и границы*/

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*меняет подсчет ширины блока более удобно для верстки*/

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
/*убираем линии обводки*/


nav,footer,header,aside{display: block;}
/*делаем эти части блочными*/

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
/*уравнивается поведение шрифтов и раззмеров
в том числе самовольное увеличение шрифта в айфне*/

input,button,textarea{font-family:inherit;}
/*включаем наследование семейства шрифта для тегов form*/

input::-ms-clear{display: none;}
/*!!!убирает крестик а интернет эксплоре в поле input
специфика именно Интернет-Эксплоера*/

button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
/*!!!убирает лишние отступы для кнопок в firefox*/

a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul, li{list-style: none;}

/*убмраем стили маркированных списков*/
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*обнуяем все заголовки h*/
/*--------------------*/
/*подключаем шрифты меняя путь к нашей папке с шрифтами
скачтваем нужные редкие шрифты потом их конвертируем*/
@font-face {
  font-family: 'pfdintextcondpro-bold';
  src: url(../FONTS/pfdintextcondpro-bold.eot);
  src: url(../FONTS/pfdintextcondpro-bold.eot?#iefix) format('embedded-opentype'),
       url(../FONTS/pfdintextcondpro-bold.otf) format('otf'),
       url(../FONTS/pfdintextcondpro-bold.svg#pfdintextcondpro-bold) format('svg'),
       url(../FONTS/pfdintextcondpro-bold.ttf) format('truetype'),
       url(../FONTS/pfdintextcondpro-bold.woff2) format('woff2'),
       url(../FONTS/pfdintextcondpro-bold.woff) format('woff');

}
@font-face {
  font-family: 'pfdintextcondpro-light';
  src: url(../FONTS/pfdintextcondpro-light.eot);
  src: url(../FONTS/pfdintextcondpro-light.eot?#iefix) format('embedded-opentype'),
       url(../FONTS/pfdintextcondpro-light.otf) format('otf'),
       url(../FONTS/pfdintextcondpro-light.svg#pfdintextcondpro-light) format('svg'),
       url(../FONTS/pfdintextcondpro-light.ttf) format('truetype'),
       url(../FONTS/pfdintextcondpro-light.woff) format('woff'),
       url(../FONTS/pfdintextcondpro-light.woff2) format('woff2');
}


body {
	font-family: 'Montserrat', sans-serif;
	color: black;
}
ul,li{
	display: block;
}
.container{
	max-width: 1200px;
	margin: 0px auto;
}
/*.content{
	flex: 1 1 auto;
}*/
/*____ header___*/

.header{
   background: #91919a;
	color: #3232d0;
	padding-top:20px;
	padding-bottom: 20px;
}
.header a{
	color: #fff;
}
.nav {
 	display: flex;
 	flex-wrap: wrap;
 	/* обязательно этот параметр чтобы был 
 	правильный перенос и размещение элеметов*/
	align-items: center;
}
.menu {
	display: flex;
	flex-wrap: wrap;
}

.tel {
	font-size: 17px;
	margin-left: auto;
	/*letter-spacing: 0.1em;*/
	}

.logo{
	margin-right: 40px;
	width: 50px;
	height: 50px;
}
/*это вариант размещения кружков
через позиц онирование
.menu li{	
	position: relative;
	margin-right: 20px;
}
*/
.menu li{
	margin-right: 10px;
}
.menu li a{
	font-size: 17px;
	color: #3232d0;
}
/*.menu li:not(:nth-child(1)):after{
	content:'*';
}кроме первого*/

.menu li:not(:last-child)::after{
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: red;
	display: inline-block;
	margin: 0px 0px 5px 10px;
	}
/*размезщение кружков через позиционирование
.menu li:not(:first-child)::before{
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: red;
	position: absolute;
	top: 5px;
	left: -10px;
	}
	*/
.menu li a:hover {
	border-bottom: 1px solid #3232d0;
}
/*____close header___*/
/*______main________*/
	
.main {
	background: url('../IMG/header-bg-light.jpg') no-repeat center top/cover;
	/*opacity: 0.7;работает на всю страницу - поэтому меняем картинку в фригме
	со свщйством 60% fill*/
	padding-top: 120px;
	padding-bottom: 200px;
	/*position: absolute;*/
}
.h1-main h1{
	font-family: 'pfdintextcondpro-bold';
	/*подключила другой шрифвт именно для этого
	заголовка*/
	font-size: 70px;
	text-align: center;
	color: #211ba2;
	font-weight: 700;
	padding-bottom: 20px;
}

.h1-main p{
	font-size: 30px;
	text-align: center;
	color: #4646a2;
	font-weight: 600;
}
.btn {
	display: block;
	/*размещаем по центру контейнера*/
	position: relative;
	left: 50%;
   transform: translate(-50%, 0);

	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px 47px;
	/*border: 1px solid #ff0000;
	border-radius: 15px;*/
	width: 300px;
	transition: all 0.5s ease;/*плавность анимации при наведении*/
	margin-top: 40px;
	background: red;
	box-shadow: 5px 5px 10px #8a0909;
	font-weight: 500;
	color: white;
}

/*______about me______*/
.about{
	padding: 50px 0;	
	background-color: #c7d4e4;
}
.about__row{
	display: flex;	
	justify-content: space-between;

	/*margin: 0px -15px;*/
}
.about__body{
	flex: 1 1 auto;
	padding: 0px 0px 0px 30px;
	/*align-self: center; блок с текстом тогда
	по центру блока с картинкой*/
	/*отступ слева 20px*/
}
/*для flex-элемента about_img
устанавливаем неизменный размер
через 0 0 50% потом 
max-widht img 100% -тогда от размера
исходной картинки не зависим(если она не больше
половины размера контейнера)
а текст справа разрешаем увеличиваться
flex 11 auto*/

.about__img{	
  flex: 0 0 50%;

}
.about_img img{
	max-width: 100%;
}

.about__title{
	margin: 0px 0px 35px 0px;
	/*font-size: 40px;
	24px - это минимальный размер читаемости на 320px
	экране 16 = (размер по макету 40px-min размер 24px
	100vw - ширина viewport 320px - это размер 5 айфона
	важно в функции calc между  + - * / ставть пробелы
	не рабоетает эта функция в IE11 для этого адаптация через
	медиа запросы
	*/
	font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	/*text-align: center;*/
	font-weight: bold;
}

.about__text{
	font-size: 15px;
	line-height: 24px;
	}

.about__text p{
	margin:  0px 0px 15px 0px;
	
}
.avout__text p:last-child{
	margin: 0;
}


/*_____tasks___*/
.tasks {
	background: #c7d4e4 ;
	/*margin: 35px 0px 35px 0px;*/
	padding: 20px 0px 20px 0px;
}

.tasks__title {
margin: 5px 0px 35px 0px;
font-size: 30px;
text-align: center;
font-weight: bold;
}

.tasks__list li {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 36px;
	background: url('../IMG/icons/icon1.png') 0 1px no-repeat;
	font-size: 20px;
	line-height: 22px;
}
.tasks__list li:last-child{margin: 0;}


